/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
/*font-family: 'Libre Baskerville', serif;*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/*font-family: 'Open Sans', sans-serif;*/
body{
	
	padding:0px;
	margin:0px;		
	line-height:normal !important;
}
body .top-bar{
	border-top:4px solid #C8140F;
	background: none;
}
.leftlogo {
	padding: 10px 0px 0px 10px;
}
.leftlogo img, .searchbox img{
	width: 48px;
}
.searchbox, .login{
	float: right;
	padding-right:10px;
}

.home-content{

	margin:0px auto;
	text-align:center;
}
.title{
	color:#000;
	margin:0px 0px 20px 0px;
}
.tagline{
	margin-bottom:30px;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    text-decoration: none;
}
.connectwithemail {
	color:#C8140F;
	border:1px solid #C8140F;
	padding:15px;
	width:25%;		
	margin:0px auto;
	margin-bottom:20px;
}
.connectwithemail a{
	color: #C8140F !important;
}
.connectwithloverealm{
	background-color:#C8140F;
	color:#FFF;
	border:1px solid #C8140F;
	padding:15px;
	text-transform:uppercase;
	width:25%;		
	margin:0px auto;
	margin-bottom:20px;
}
.loginwithfacebook{
	color:#FFFFFF;
	padding:15px;
	
	width:25%;	
	margin:0px auto;	
	margin-bottom:20px;
	border:1px solid #3E539A;
	background-color:#3E539A;
}
.loginwithfacebook a{
	color: #FFFFFF !important;
}
.shortblurb{
	margin:100px 0px;
}
/**********Dashboard******/
body .userheader{
	
	background-image:url("/assets/header_bg.png");
	height:350px;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:cover;
	margin-bottom:0px;
	background-color: transparent;
}
.userbio{
	margin-top:50px;
	margin-bottom:50px;
}
.userprofile-name, .userprofile-followers{
	font-size:14px;
	color:#C4C4C4;
	text-decoration:underline;
}
.userprofile-followers a{
		text-decoration:underline;
}
.userprofile-followers ul{
	padding:0px;
	margin:0px;
}
.userprofile-followers ul li{
	float:left; 
	margin-right:30px;
}
.userprofile-followers ul li:first-child{
	list-style:none;
}
.aboutauther{
	width:100%;
	float:left;
	margin-top:20px;
	color:#000;
}
.userbio{
	margin-top:50px;
	margin-bottom:50px;
}
.userdetails{
	margin-bottom:40px;
	overflow:auto;
	
}
.userboxes{
	border-bottom:1px solid #DADADE;
	width:57%;
}
.userboxes ul, .whattodo ul{
	padding:0px;
	margin:0px;
}
.userboxes ul li{
	display:inline;
	list-style:none;
	margin-right:80px;
	padding-bottom:3px;
}
.userboxes ul li:last-child{
	margin-right:0px;
}
.whattodo ul li a, .userboxes ul li a{
	color:inherit;
}
.userboxes ul li:hover{
	border-bottom:1px solid #000;
}
.userboxes ul li a:hover{
	text-decoration:none;
}
.whattodo ul li{
	display:inline;
	text-decoration:underline;
	list-style:none;
	margin-right:80px;
}
.whattodo h1{
	color:#AC4954;
}
/*********Dashoboard end*****************/
@media (max-width: 460px) {
	.loginwithfacebook, .connectwithemail, .connectwithloverealm{
		width:80%;
	}
}